# cf. to obtain key sequence, use the read command
#     in read command, '^[' means '\e'(ESC)

# Ctrl+left/Ctrl+right
"\e[1;5C": forward-word		# ctrl+right
"\e[1;5D": backward-word	# ctrl+left
"\e[1;5n": forward-word		# ctrl+.
"\e[1;5l": backward-word	# ctrl+,

# Ctrl+p/n, CursorUp/Down
"\C-p":history-search-backward
"\C-n":history-search-forward
"\e[A":history-search-backward	# up
"\e[B":history-search-forward	# down

$if Bash
  # Don't ring bell on completion
  set bell-style none

  # or, don't beep at me - show me
  #set bell-style visible

  # Filename/Command completion/expansion
  set completion-ignore-case on
  set completion-map-case on    # underscores and hyphens are treated equally
  set show-all-if-ambiguous on  # skip bell
  set show-all-if-unmodified on # immediately show completion after partical completion
  set page-completions on       # with more-like pager
  # Comletion colorizing
  set visible-stats on
  set colored-completion-prefix on
  set colored-stats on

  # Expand homedir name
  set expand-tilde off

  # Append "/" to all dirnames
  set mark-directories on
  set mark-symlinked-directories on

  # Match all files
  set match-hidden-files on

  # 'Magic Space'
  # Insert a space character then performs
  # a history expansion in the line
  #Space: magic-space
$endif

